@{
  Layout = "_Layout";
}
<div>
  <h1>Eau Claire's Hair Salon: Employee & Client Database</h1>
</div>

<div>
  <p>@Html.ActionLink("See All Clients", "Index", "Client")</p>
  <p>@Html.ActionLink("Add New Client", "Create", "Client")</p>
  <p>@Html.ActionLink("See All Stylist", "Index", "Stylist")</p>
  <p>@Html.ActionLink("Add New Stylists", "Create", "Stylist")</p>
</div>